@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

body {
  height: 100vh;
  background: url("../Img/fire-5.gif");
  background-size: cover;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.x-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 10px;
  margin-bottom: 50px;
}

.y-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.play {
  margin: 10px;
  width: 100px;
}

#start-button,
#button-restart {
  text-align: center;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  padding: 20px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 30pt;
}
start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
canvas {
  display: none;
}
p {
  font-family: "Press Start 2P", cursive;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  font-size: 20px;
  margin: 10px;
}

h2 {
  font-family: "Press Start 2P", cursive;
  text-shadow: -1px -1px black, 1px 1px white;
  color: #049cd8;
  font-size: 25px;
  margin: 10px;
}

.buttons-image {
  margin: 90px;
}
#game-over {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
