@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css?family=Orbitron&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  margin: 0px;
  height: 100vh;
  background: url("../Img/fire-5.gif");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.x-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.y-direction {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#start-button {
  text-align: center;
  display: inline-block;
  margin: 5px;
  font-weight: bold;
  padding: 20px;
  background-color: lightgray;
  text-shadow: -1px -1px black, 1px 1px white;
  color: gray;
  border-radius: 7px;
  box-shadow: 0 0.2em gray;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 30pt;
}
start-btn:active {
  box-shadow: none;
  position: relative;
  top: 0.2em;
}
#canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
canvas {
  display: none;
}
